

 @media only screen and (max-width: 320px){
     .top-container{
     background-color:hsl(0, 0%, 100%) ;
     }

     img{
          width: 110%;
          margin-left: -1% ;
          
     }

     .Everything{
          width: 320%;
     }

     .top-container{
          background-color: rgb(196, 140, 248);

     }

     .sepration{
      margin-left: 60%;
      color: coral;
}

 }