.top-container{
background-color:hsl(330, 100%, 98%) ;
border-radius: 20px;
margin-left: 3%;
margin-right: 3%;


}

main{
    padding: auto;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: auto;
    padding-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    


}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 2%;
}

h2{
    font-family: Outfit,serif;
    color:coral;
    margin-left: 3%;
     font-size: 190%;
}


h3{
    color: purple;
    margin-left: 3%;
    font-size: 140%;

}

h4{
    margin-left: 2%;
    font-size: large;
}

img{
    width: 96%;
    border-radius: 11px;
    margin-top: 3%;
    margin-left: 2%;
    
}

body{
  
    background-color: hsl(30, 65%, 83%);
    width: 95%;
}


.Everthing-container{

    background-color:hsl(0, 0%, 100%) ;
    border-radius: 5px;
}

p{
    margin-left: 2%;
}


.nutrition{
    display: flex;
}

.one{
    color: coral;
    margin-bottom:1%;


}

